@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.dotted-background {
  position: relative;
  background-image: radial-gradient(
    rgba(128, 128, 128, 0.2) 1px,
    transparent 1px
  );
  background-size: 30px 30px;
  background-color: #fdfaf5;
}

.dotted-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    ellipse at center,
    transparent 0%,
    transparent 50%,
    #fdfaf5 100%
  );
  pointer-events: none;
}
